<!DOCTYPE html>
<html>
<head>
  <title>Zoolander</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %>

<% flash.each do |name, msg| %>
  <div class="alert alert-<%= name == "notice" ? "success" : "danger" %>">
    <a class="close" href="#" data-dismiss="alert">&#215;</a>
    <%= content_tag :div, msg, id: "flash_#{name}" %>
  </div>
<% end %>

<%= yield %>

<%= render 'layouts/footer' %>
</body>
</html>
